@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color: rgb(220, 220, 220);
}
/* Index page */
body {
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

main {
    margin-top: 5rem;
}

/* Nav bar section */
.nav-bar-container {
    position: fixed;
    top: 0;
    display: flex;
    background-color: black;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    z-index: 2;
}

.nav-bar-left {
    position: absolute;
    top: 0.2rem;
    left: 2rem;
    font-family: Permanent Marker, sans-serif;
}

.nav-bar-center {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-bar-right {
    position: absolute;
    top: 0.8rem;
    right: 2rem;
}

.nav-bar-element-basket {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar-element-left {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.nav-bar-element-left:hover{
    color: white;
    cursor: pointer;
}

.favicon-img {
    display: none;
    width: 3rem;
    border: 1px solid white;
    border-radius: 5px;
}

.nav-toggle {
    display: none;
    width: 2.5rem;
    background-color: black;
    border: 1px solid white;
}

.nav-bar-element-right {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.5rem;
}

.nav-bar-element-search {
    display: flex;
    align-items: center;
}

.nav-bar-element {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

.nav-bar-element:hover{
    color: white;
    cursor: pointer;
}

.icons:hover{
    transform: scale(1.1);
}

.icons {
    width: 2.5rem;
}

.counter {
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    background-color: rgb(255, 0, 0);
    font-size: 0.8rem;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
}

.stickytotAmo {
    position: fixed;
    top: 6.3rem;
}

.search-text {
    display: block;
    background-color: white;
    font-family: Arial, sans-serif;
    height: 2rem;
    width: 40%;
    margin: 0;
    border-radius: 5px;
}

.search-button {
    cursor: pointer;
    border: none;
}

/* Slideshow */
.img-container {
    position: relative;
    top: -5rem;
    width: 100%;
}

.img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 4rem;
    padding: 2rem;
    color: white;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev:hover {
    border-radius: 0 15px 15px 0;
}

.next:hover {
    border-radius:  15px 0 0 15px;
}

.dot-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.dot {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: -4.5rem auto 0.5rem auto;
    padding: 1rem;
}

.section-element {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;
}

.section-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    background-color: black;
    color: white;
}

/* Items page */
.flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 0.5rem;
    padding: 1rem;
    margin: auto;
}

.flex-box {
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.flex-element-img {
    height: 360px;
    width: 100%;
    object-fit: cover;
}

.flex-element-top {
    margin: auto 0;
}

.flex-element-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}
.flex-element {
    height: 3rem;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.add-basket {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0.1rem;
    width: 100px;
}

.add-basket:hover {
    transform: scale(1.1);
}

.add-basket:active {
    transform: scale(1);
}

.add-basket-img {
    height: 100%;
}

.add-favourite {
    cursor: pointer;
    background-color: none;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 15%;
}

.add-favourite:hover {
    transform: scale(1.1);
}

.add-favourite:active {
    transform: scale(1);
}

/* Basket page */
.basket-flex-container {
    display: flex;
    justify-content: center;
    margin: 6rem auto 1rem auto;
    gap: 1rem;
}

.basket-top{
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.basket-top-img{
    width: 1rem;
}

.basket-left {
    display: flex;
    flex-direction: column;
}

.basket-left-element {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.2rem 0;
    height: 10rem;
    background-color: #dfdfdf;
}

.left-basket-element{
    margin-right: auto;
    height: 100%;
    padding: 1rem;
}
.basket-flex-element-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    object-fit: cover;
    border: 1px solid black;
}

.basket-flex-element {
    width: 8rem;
}

.right-basket-element {
    display: flex;
    align-items: center;
    justify-content: end;

    margin: 1rem;
}

.basket-item-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1rem;
}

.basket-item-text {
    width: 5rem;
}

.basket-item-counter-button {
    cursor: pointer;
    padding: 0.5rem;
    font-family: Permanent Marker, sans-serif;
    font-size: 1rem;
}

.basket-right-item {
    position: fixed;
    padding: 2rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 20rem;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 20rem;
    width: 100%;
    z-index: 1;
}

.popup-elements {
    padding: 1rem 2rem;
    background-color: #000000ab;
    color: white;
    width: 30rem;
    margin: auto;
    border-radius: 5px;
}

.popup-elements-button {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.popup-elements-button button {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0.5rem 5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.popup-elements-button button:hover {
    transform: scale(1.1);
}

.popup-elements-button button:active {
    transform: scale(1);
}

/* Favourite page */
.favourite-empty {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
/* What's new page */
.new-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 1rem;
    width: 50%;
    margin: 6rem auto 1rem auto;
    padding: 1rem;
}

.new-img {
    height: auto;
    width: 40%;
}

.new-img1 {
    float: left;
}

.new-img2 {
    float: right;
}

.new-section1 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.new-section2 {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Login page */
.login-box {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 11rem auto;
    width: 20rem;
    background-color: #000000ab;
    padding: 1rem;
    color: white;
}

.login-box-element {
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
    width: 100%;
}

.login-text {
    border-radius: 5px;
    height: 2rem;
}

.login-enter {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 60%;
    margin: 0.5rem auto;
    justify-content: center;
}

.login-enter:hover {
    transform: scale(1.1);
}

.login-enter:active {
    transform: scale(1);
}

/* Mobile version */

@media screen and (max-width: 1200px){
    body {
        font-size: 1rem;
    }
    .nav-bar-container.active {
        height: auto;
        background-color: black;
    }

    .nav-bar-left h1 {
        display: none;
    }

    .nav-bar-left {
        display: inline-flex;
        top: 1.7rem;
        left: 1rem;
        gap: 1rem;
    }
    
    .nav-bar-right {
        position: absolute;
        top: 1.2rem;
        right: 2rem;
    }

    .icons {
        width: 1.5rem;
    }

    .favicon-img {
        display: block;
        width: 1.5rem;
    }

    .nav-toggle{
        display: block;
        width: 1.5rem;
    }

    .search-text {
        display: none;
    }

    .nav-bar-center {
        display: none;
    }

    .nav-bar-center.active {
        display: flex;
        flex-direction: column;
        background-color: black;
        margin: 0 auto;
        margin-top: 6rem;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .flex-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
    .new-section {
        width: 100%;
    }

    .new-img {
        width: 90%;
    }

    .new-img1 {
        float: none;
        margin: auto;
    }
    
    .new-img2 {
        float: none;
        margin: auto;
    }

    .new-section1 {
        flex-wrap: wrap;
    }
    
    .new-section2 {
        flex-wrap: wrap;
    }

    .basket-flex-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .basket-right {
        position: fixed;
        top: 6rem;  
        display: flex;
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .basket-right-item { 
        width: 15rem;
        padding: 1rem;
    }
    
    footer {
        font-size: 1rem;
    }
}